# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Python Cache
# =====================================
__pycache__/
modules/__pycache__/

# Ignore ALL __pycache__ folders anywhere
**/__pycache__/

*.pyc
*.pyo

# =====================================
# Virtual Environment
# =====================================
.venv/
venv/

# =====================================
# VS Code Settings
# =====================================
.vscode/

# =====================================
# Pytest Cache
# =====================================
.pytest_cache/

# =====================================
# OS Files
# =====================================
Thumbs.db
.DS_Store